# dependências
node_modules/

# variáveis de ambiente (NUNCA subir)
.env


# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# arquivos do sistema
.DS_Store
Thumbs.db

#anotacoes
instrucoes.txt
JWT.txt

# IDE / editor
.vscode/
.cursor/

# possiveis features
database/new_mysql.sql


# build (talvez use no futuro)
dist/
build/

# cache (talvez use no futuro)
.tmp/
.cache/